---
---
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

body {
  margin: 0;
  padding: 0;
}

.content {
  @include perspective(100px);
  height: 600px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  & {
    position: relative;
    height: 600px;
    height: 100vh;
    transform-style: preserve-3d;
  }
  > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: no-repeat center top;
    background-size: 100%;
  }
  .bg {
    background-image: url(../images/header/bg.png);
    background-size: cover;
    @include transform(translateZ(-30px) scale(1.3));
  }
  .ribbons {
    background-image: url(../images/header/ribbons.png);
    @include transform(translateZ(-20px) scale(1.2));
  }
  .buildings {
    background-image: url(../images/header/buildings.png);
    background-position: center bottom;
    @include transform(translateZ(-20px) scale(1.2));
  }
  .title {
    background-image: url(../images/header/title.png);
    background-position: center 30%;
    background-size: 50%;
    @include transform(translateZ(-10px) scale(1.1));
  }
  .floral {
    background-image: url(../images/header/floral.png);
    background-position: center bottom;
  }
}

section {
  position: relative;
  background: white;
  height: 600px;
  height: 100vh;
}
